<html>
<!--head is an element that contains information about the document that is not displayed on the screen. Notice how the browser has understood that "Ola's blog" is the title of your page? It has interpreted <title>Mathai's blog</title> and placed the text in the title bar of your browser (it will also be used for bookmarks and so on)-->

<!-- To print any variable like in this case 'posts', use the {{variable_name}} with the two curly brackets make python-->    
<!--understandable to HTML enclose your python code with { and % on the both sides(look at syntax). The |linebreaksbr converts the \n character of python to a break character of HTML-->
	<head> 
        <title>Mathai's Blog!! </title>
    </head>

	<body>
	 <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
       
    {% for post in posts %} 
        <h1><a href = "">{{post.title}}</a></h1> 
        <p>Published on: {{post.published_date}}</p>
        <p>{{post.text|linebreaksbr}}</p>
        <br> </br>  
    {% endfor %}

	</body>
</html>